/*-------------Home-css------------*/
body {
	background: #201B18; 
}
.wraper {
	width: 800px;
	margin:0 auto;
}
.page-header {
	height: 60px;
	margin: 25px 0 0 0;
	padding: 25px 0 0 0;
	border: none;
}
h1 {font-size: 20px;}
.call-header {
	float: left;
}
.text-header1 {
	display: block;
	font-size: 10px;
	color: #fff;
}
.text-header2 {
	font-size: 17px;
	color: #fff;
}
.logo-header {
	display: block;
	width: 250px;
	height: 35px;
	margin: 0 0 0 265px;
	text-indent: -9999px;
	background: url("../image/logo.gif") no-repeat;
}
.call-header {
	margin: 0 0 0 10px;
}
.awards {
	position: absolute;
	top: -105px;
	right: 0;
	text-indent: -9999px;
	width: 141px;
	height: 128px;
	background: url("../image/bha.gif") no-repeat;
}
.menu {
	position: relative;
	width: 800px;
	border-radius: 5px;
	background: #e6e3b7;
}
.menu-list {
	display: inline-block;
	margin: 0 10px;	
}
.menu-item {
	display: inline-block;
	padding: 0 7px;
	font: 12px/23px arial, sans-serif;
	color: #000;
}
.menu .menu-list:first-child {
	margin: 0 0 0 130px;
}
.menu-item:active {
	background: #000;
}
.menu-list:hover  .menu-item{color: #767365;}
.welcome {
	padding: 35px 0 0 0;
	text-align: center;
	font: 18px arial, sans-serif;
	color: #fff;
}
.our {
	text-align: center;
	font: 12px arial, sans-serif;
	color: #fff;
}
.example {
	margin: 35px 0 0 0;
}
.view_awards {
	text-align: center;
	height: 80px;
	padding: 30px 0 0 0;
}
.prize {
	display: inline-block;
	margin: 0 30px;
	vertical-align: middle;
	
}
.page-foot {
	margin: 15px 0 0 0;
	border-top: 1px solid #69625f;
	height: 49px;
}
.sp1 {
	display: inline-block;
	padding: 15px 0 0 0;
	font: 10px/10px arial;
	color: #fff;
}
.sp2 {color: #7A6262;}
.brand {
	padding: 0 10px;
	vertical-align: middle;
}
.brand-fix {margin: 0 0 0 215px;}
.brand-fix2 {margin: 0 0 0 180px;}

.content {
	background: #1c1815;
	padding: 30px;
	margin: 20px 0 0 0;
	overflow: hidden;
}
ul {margin: 0;}
/*---------END Home-css----------*/
/*---------profile-css-----------*/

.title-profile {
	padding: 0 0 10px 0;
	font: 18px arial, sans-serif;
	color: #fff;
}
.about {
	padding: 0 50px 20px 0;
}
.list1 {
	display: inline-block;
	margin: 0 25px 0 0;
}
.list-about {
	color: #aaa;
}
.list-about:hover {color: #fff;}
.info {
	padding: 30px 0 0 0;
	overflow: hidden;
}
.text {
	float: left;
	width: 305px;
}
.text1 {padding: 0 0 15px 0;}
.image-info {
	float: right;
}
/*----------End profile-css--------*/
/*-----------collections-css---------*/
.title-coll {
	font: 20px arial, sans-serif;
	color: #fff;
	padding: 0 0 40px 0;
}
.year {
	display: block;
	line-height: 12px;
}
.name {
	display: block;
	margin: 0 0 10px 0;
	font: 20px arial,sans-serif;
	color: #fff;
}
.foto {
	width: 676px;
	height: 337px;
	background: #fff;
	border-radius: 6px;
	padding: 7px;
}
.foto-image {
	padding: 1px 1px 3px 1px;
	vertical-align: top;
}
/*----------end collections-css-------*/
/*----------prices-css---------*/
.title-prices {
	font: 20px arial, sans-serif;
	color: #fff;
	padding: 0 0 40px 0;
}
.sub-prices {
	padding: 0 0 20px 0;
	display: inline-block;
	margin: 0 290px 0 0;
}
.table-prices {
	float: left;
	width: 350px;
	margin: 0 7px 0 0;
}
/*------------end prices-css---------*/
/*--------------careers-css-----------*/
.title-careers {
	font: 20px arial, sans-serif;
	color: #fff;
	padding: 0 0 40px 0;
}
.text {
	width: 304px;
	float: left;
}
.team {float: right;}
/*------------end careers-css---------*/
/*----------contact-css--------------*/
.title-contact {
	font: 20px arial, sans-serif;
	color: #fff;
	padding: 0 0 40px 0;
}
h4 {padding: 15px 0;}
.table-works {
	width: 300px;
}
.td {width: 40px;}
/*----------end contact-css------------*/